@model IEnumerable<WebDemo.Models.ProjectModel>

@{
    ViewBag.Title = "View Projects";
}

<h2>View Projects</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.projectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectLeaderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectLeaderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.projectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectLeaderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectLeaderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.companyName)
            </td>
            <td>
                @Html.ActionLink("View Project Team", "ViewProjectTeam", "Home", new { projectId = item.projectId }, null)
            </td>
            <td>
                @Html.ActionLink("Edit Project", "EditProject", "Home", new { projectId = item.projectId }, null)
            </td>
        </tr>
    }

</table>

@{
    HttpCookie cookie = Request.Cookies.Get("UserInfo");
    if (cookie != null && cookie["employeeId"] != "")
    {
        if (DataLibrary.BusinessLogic.EmployeeProcessor.IsManager(Convert.ToInt32(cookie["employeeId"])))
        {
            <h4><a href="/Home/CreateProject" class="btn btn-default">Add New Project</a></h4>
            <h4><a href="/Home/AddProjectEmployee" class="btn btn-default">Add Employee To Project</a></h4>
        }
    }

}
